body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    width: 200px;
    position: relative;
    top: 200px;
}
.mole {
    height: 100%;
    width: 100%;
    position: absolute;
}

.dirt {
    height: 100%;
    width: 100%;
    background-image: url('images/pileofdirt.png');
    background-size: 100vh;
    background-position: center;
    position: absolute;
}