body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw

}

.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vw;
    width: 100vw;
    position: relative;
}
.mole {
    height: 25%;
    width: 25%;
    background-image: url("images/mole.png");
    background-repeat: no-repeat;
    position: absolute;
}

.dirt {
    height: 25%;
    width: 25%;
    background-color: brown;
    position: absolute;
}